MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app_name>
CHROMA_HOST=api.trychroma.com
CHROMA_API_KEY=your_chroma_api_key_here
CHROMA_TENANT=your_chroma_tenant_id_here
CHROMA_DATABASE=your_database_name
GROQ_API_KEY=your_groq_api_key_here
